.main{
  background-color: white;
  background-image: url("imgs/Megaback_81.png");
  background-position: 99% 32%;
  background-repeat: no-repeat;
  background-size: auto;
  background-attachment: fixed;
  /*padding-top: 5px;*/
  margin-top: 5px;
  height: 60vw;
  width: 100vw;
}


h1{
  padding-left: 50px;
  padding-top: 5px;
  margin: auto;
  font-family: 'Dancing Script', cursive;
  font-weight: bold;
  font-size: 8.125em; color: black;
  text-shadow: 1px 2px white;

}

h3{
  text-align: center;
  font-family: 'Abril Fatface',sans-serif;
  font-size: 46px; color: white;
  font-weight: lighter;
  margin: 2px;
}

img{
  max-width: 100%;
}

h4, h4 a{
  text-align: center;
  font-family: 'Dancing Script', cursive;
  font-weight: bolder;
  font-size: 39px;
  margin-bottom: 4px;

}

h5 {
text-align: center;
font-family: 'Dancing Script', cursive;
font-weight: bolder;
font-size: 49px; color:rgb(249, 9, 9);
margin: 4px;
}
nav ul li a{
  font-family: 'Abril Fatface', cursive; color: red;
  font-weight: lighter;
  font-style: normal;;
  font-size: 39px;
  width: 100%;
  list-style: none;
  display: block;
  text-decoration: none;
  margin: .250em;
  padding: 0.313em;
  text-shadow: 1px 1px white;
}
ul li, a, h2 {
  font-family: 'times new roman', cursive; color: red;
  font-weight: lighter;
  font-style: normal;
  font-size: 25px;
  list-style: none;
  display: inline-block;
  text-decoration: none;
  margin: 4px;
  padding: 5px;

}

p{
  font-family: 'Playfair Display', serif;
  font-weight:lighter; color: white;
  font-style: normal;
  text-align: left;
  font-size: 1.5em;
  padding: 	0.938em;
  margin: 30px;
  width: 90%;
  height: 60%

}
/*.tabContent ul li img {
  display: inline-block;
  float: right;
}*/
p::first-letter {
    font-size: 200%;
    color: red;
}

.twitter{
  width: 79%; height: auto;
  padding: 0.313em;
  /*margin: 10px;*/
  margin-bottom: 10px;
  margin-left: 84px;
}
.tabContent{
  background-color: black;opacity: .95 ;
  width: 60vw; height:auto;
  padding: 0.313em;
  margin: 10px;
  margin-bottom: 10px;
  margin-left: 60px;

}

.byline{
  text-align: center;
}

.theSkills ul {
  text-align: center;
  font-weight: bold;

}


.theSkills ul li{
  text-align: center;
  font-weight: bold; color: white;

}


.filters{
  text-align: center;
}
.contact li, a {
  display: inline;

}
