body{
  background-color: white;
  /*background-image: url("imgs/Megaback_81.png");*/
  background-position: 99% 32%;
  background-repeat: no-repeat;
  background-size: auto;
  background-attachment: fixed;
  padding-top: 5px;
  margin-top: 5px;
}

h1{
  padding-left: 50px;
  padding-top: 5px;
  margin: auto;
  font-family: 'Dancing Script', cursive;
  font-weight: bold;
  font-size: 130px; color: black;
  text-shadow: 1px 2px white;

}

h3{
  text-align: center;
  font-family: 'Abril Fatface',sans-serif;
  font-size: 40px;
  font-weight: lighter;
  margin: 2px;
}

h4, h4 a{
  text-align: center;
  font-family: 'Dancing Script', cursive;
  font-weight: bolder;
  font-size: 39px;
  margin-bottom: 4px;
}

nav ul li a{
  font-family: 'Abril Fatface', cursive; color: red;
  font-weight: lighter;
  font-style: normal;;
  font-size: 30px;
  width: 100%;
  list-style: none;
  display: inline-block;
  text-decoration: none;
  margin: 4px;
  padding: 5px;
  text-shadow: .5px .5px white;
}
ul li, a, h2 {
  font-family: 'times new roman', cursive; color: red;
  font-weight: lighter;
  font-style: normal;
  font-size: 25px;
  list-style: none;
  display: inline-block;
  text-decoration: none;
  margin: 4px;
  padding: 5px;

}

p{
  font-family: 'Playfair Display', serif;
  font-weight:lighter; color: white;
  font-style: normal;
  text-align: left;
  text-indent: 0px;
  font-size: 22px;
  padding: 15px;
  margin: 30px;
  width: 90%;
  height: 60%

}
/*.tabContent ul li img {
  display: inline-block;
  float: right;
}*/
p::first-letter {
    font-size: 200%;
    color: red;
}

.tabContent{
  background-color: black;opacity: .95 ;
  border: 10px 10px; color: white;
  width: 60%; height: 100%;
  padding: 5px;
  margin: 10px;
  margin-left: 60px;
}

#contact li, a {
  display: inline;
  width: 20%; height: 20%;
}
