.site-header {
  background: white;
}

.heading-group-h1 {
  float: left;
  padding: 0 0 .2em 1em;
}

.icon-menu::before {
  font-size: 3em;
  float: right;

}

.icon-menu {
  float: right;
  width: 150px;
  height: 50px;
}

.main-nav {
  padding: 0.1em;
  
}

.main-nav ul {

  display: none;
  padding: 0;
  list-style: none;
  clear: both;
}

.main-nav:hover ul {
  display: block;
}

.main-nav li {
  margin-right: .4em;
  font-size: 1.5em;
  padding: .5em .06em;

}

#filters {
  padding: 0;
  list-style: none;
}

.template {
  display: none;
}

.byline {
  color: #777;
}

.byline a {
  font-weight: bold;
  text-decoration: none;
}
@media screen and (min-width: 600px){
    .icon-menu {
     /*display: none;*/
     width: auto;
     height: auto;
     float:none;
  }
   .main-nav ul {
    display:inline-block;
    padding: 5px;
    list-style:none;
    clear: both;
    margin-left: 60px;
  }
  .main-nav li {
    display: inline-block;
  }
  .icon-menu::before{
    display:none;
  }
}*/
